*::before,
*,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 80%vh;
  background-color: #fffef9;

  /* overflow-y: scroll; */
  /* height: 99vh; */
}

.website-header {
  height: 5vh;
  background-color: #129dc5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}
