.container,
.chart {
  /* display: flex; */
  /* justify-content: center; */

  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 5px 10px #888888;
  width: 400px;
  height: 300px;
}

.chart {
  position: absolute;
  top: 50px;
}
.title {
  font-size: 22px;
  font-weight: bold;
}
.tooltip {
  opactity: 0;
  position: absolute;
  pointer-events: none;
  background-color: lightblue;
  border: 8px solid blue;
  border-radius: 8px;
  padding: 15px;
}

.d3-container {
  border: 1px solid black;
  height: 400px;
  width: 500px;
}
